html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.cases h2 {
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}

.cases .devices {
	width: 33.3333333%;
	display: inline-block;
	/* styles to assist with debugging */
	border: 1px solid black;
	box-sizing: border-box;
	height: 4em;
}

.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
}

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation > .content {
	width: 60rem;
	height: 4.375rem;
	margin: 0 auto;
	padding: 0rem 1rem;
}

.top-navigation .links {
	float: right;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

button:hover {
	cursor: pointer;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	width: 1rem;
	background-color: orange;
}